*{
padding: 0px;
margin: 0px;
}
.my-class {
    color: #FFFFFF;
    background-color: #FF5A5A;
    text-align: center;
    padding: 0.5em;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    border-radius: 22px;
    font-size: medium;
}
body {
    background-image: url(../images/chuttersnap-9AqIdzEc9pY-unsplash.jpg);
    background-size: cover;
}
body h1 {
    text-align: center;
    text-shadow: 2px -2px #51B8D7;
    text-decoration: underline;
    letter-spacing: 15px;
	color:lightblue; 
	font-family: 'Lilita One', cursive;

}
body p {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background-color: #ADD8E6;
    border-radius: 22px;
}

body img {
    color: #FFFFFF;
    border-style: none;
    border-radius: 22px;
    float: left;
    clear: none;
    margin-left: 13px;
    margin-top: 13px;
    width: 188px;
}
.introduction {
    border-top-right-radius: px;
	font-family: "Montserrat";
}
